[submodule "dependencies/ros2_numpy"]
	path = dependencies/ros2_numpy
	url = https://github.com/Box-Robotics/ros2_numpy.git
[submodule "dependencies/ackermann_msgs"]
	path = dependencies/ackermann_msgs
	url = https://github.com/asurt-fsai/ackermann_msgs
[submodule "perception/darknet_ros"]
	path = perception/darknet_ros
	url = https://github.com/asurt-fsai/darknet_ros
[submodule "dependencies/spinnaker_sdk_camera_driver"]
	path = dependencies/spinnaker_sdk_camera_driver
	url = https://github.com/asurt-fsai/spinnaker_sdk_camera_driver
[submodule "dependencies/vectornav"]
	path = dependencies/vectornav
	url = https://github.com/asurt-fsai/vectornav
[submodule "dependencies/zed_wrapper"]
	path = dependencies/zed_wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "slam/aloam"]
	path = slam/aloam
	url = https://github.com/asurt-fsai/SC-A-LOAM
[submodule "slam/hdl_localization"]
	path = slam/hdl_localization
	url = https://github.com/asurt-fsai/hdl_localization
[submodule "slam/ndt_omp"]
	path = slam/ndt_omp
	url = https://github.com/asurt-fsai/ndt_omp
[submodule "slam/fast_gicp"]
	path = slam/fast_gicp
	url = https://github.com/asurt-fsai/fast_gicp
[submodule "slam/hdl_global_localization"]
	path = slam/hdl_global_localization
	url = https://github.com/asurt-fsai/hdl_global_localization
[submodule "dependencies/tf_helper"]
	path = dependencies/tf_helper
	url = https://github.com/asurt-fsai/tf_helper.git
[submodule "dependencies/asurt_msgs"]
	path = dependencies/asurt_msgs
	url = https://github.com/asurt-fsai/asurt_msgs
