<?xml version="1.0"?>
<launch>
	<!-- Arguments -->
	<arg name="in_tuning" default="False"/>
	<arg name ="setup_name" default="zed"/>

	<!-- Published topics -->
	<param name="/smoreo/predicted_landmarks" value="/perception/smoreo/detected"/>
	<param name="/smoreo/predicted_markers" value="/perception/smoreo/detected_markers"/>

	<!-- Subscribed topics -->
	<param name="/smoreo/bounding_boxes" value="/darknet_ros/bounding_boxes"/>
	<param name = "/smoreo/camera_info" value = "/zed/zed_node/left/camera_info" />
	<param name = "/smoreo/camera_frame" value = "zed_left" />

	<!-- System params -->
	<rosparam file="$(find smoreo)/config/$(arg setup_name)Params.yaml" />
	<param name="/smoreo/hardcode_params" value="True"/>
	<param name="/smoreo/use_cone_base" value= "True"/>
	<param name="/smoreo/in_tuning" value="$(arg in_tuning)"/>

	<!-- Physical Parameters -->
	<include file="$(find common_params)/launch/common_params.launch"/>

	<!-- Nodes to be launched -->
	<node name="smoreo" pkg="smoreo" type="smoreo_system.py" output="screen"/>
</launch>
