<?xml version="1.0"?>
<launch>
  <!-- ROS Topics -->
  <param name="/trapper/odometry_topic" value="/odom"/>
  <param name="/trapper/road_state_topic" value="/trapper/road_state"/>
  <param name="/trapper/perception_topic" value="/perception/smornn/detected"/>
  <param name="/trapper/map_topic" value="/trapper/detected"/>
  <param name="/trapper/map_markers_topic" value="/trapper/detected_markers"/>
  <param name="/trapper/frame_id" value="map"/>

  <!-- Physical Parameters -->
	<include file="$(find common_params)/launch/common_params.launch"/>

  <!-- Trapper parameters -->
  <param name="/trapper/n_frames_to_use" value="-1"/> <!-- '-1' to use infinite frames -->
  <param name="/trapper/min_dist_away_for_lap" value="10"/>
  <param name="/trapper/dist_to_close_lap" value="3"/>
  <param name="/trapper/radius_to_merge_cones" value="1"/>
  <param name="/trapper/min_readings_for_cone" value="3"/>
  <param name="/trapper/color_conf_min_threshold" value="0.4"/>

  <node name="trapper" pkg="trapper" type="supervisor.py" output="screen"/>
</launch>
