<?xml version="1.0"?>
<launch>
	<node name = "planner_node" pkg = "planning_apf" type = "planning_node.py" output="screen"/>
	<param name="/planning/cones_topic" value="/perception/smornn/detected"/>
	<param name="/planning/waypooints_topic" value="/pathplanning/waypoints"/>
	<param name="/planning/frame_id" value="velodyne"/>
</launch>
