<launch>
<rosparam file="$(find formula)/src/fs-system/navigation/parameters.yaml" />
<node name="purepursuit_controller" pkg="formula" type="purepursuit2.py"></node>
<node name="waypoints" pkg="formula" type="waypointsgen.py"></node>
<node name="state_node" pkg="formula" type="statepub.py"></node>
</launch>
