<?xml version="1.0"?>
<launch>
    <param name="/control/actions_topic"  value="/control/cmd"/>
    <param name="/control/waypoints_topic"  value="/planning/waypoints_clean"/>
    <param name="/control/marker_viz_topic"  value="/control/marker_viz"/>

    <!-- Physical Parameters -->
	<include file="$(find common_params)/launch/common_params.launch"/>

    <param name="/control/look_ahead_constant"  value="4.0"/>
    <param name="/control/speed_target"  value="2.0"/>
    <param name="/control/rate"  value="10"/>
</launch>
